.task {
  background-color: null;
  width: 75%;
  text-align: center;
  cursor: pointer;
}

.task.completed {
  background-color: beige;
  border-radius: 20px;
  text-decoration: line-through;
}
.background {
  background-color: antiquewhite;
  height: 100vh;
}